GATK_RUNTIME_REQUEST_ROOT=/sg2/50.ctapa/project/HWcloud/ngs-huaweicloud/runtime/gatk/requests
GATK_REPOSITORY_ROOT=/bi/biodevrwbi/33.chenjiucheng/project/gatk-cloud
GATK_PYTHON=/sg2/33.chenjiucheng/software/miniforge3/envs/nipttest/bin/python
GATK_CCE_OPERATOR_CONFIG=/home/ctapa/.config/cce-pipeline/operator.yaml
GATK_CCE_EVIDENCE_ROOT=/sg2/50.ctapa/project/HWcloud/ngs-huaweicloud/runtime/gatk-evidence
GATK_TRANSFER_SPOOL_ROOT=/sg2/50.ctapa/project/HWcloud/ngs-huaweicloud/runtime/gatk/transfer-progress
GATK_RESULT_ROOT=/sg2/50.ctapa/project/HWcloud/WES_Clinical
WGS_REAL_OBSUTIL_BIN=/bi/software/obsutil_5.8.3/obsutil
GATK_MONITOR_INTERVAL_SECONDS=30
PATH=/sg2/33.chenjiucheng/software/miniforge3/envs/nipttest/bin:/usr/local/bin:/usr/bin:/bin
